<div>
  <h2>
    <span class="police">Chansons de la playlist</span>
  </h2>
</div>

<ul class="list">
  <cdk-virtual-scroll-viewport  style="height: 500px" itemSize="10" >
    <ng-container *cdkVirtualFor="let t of tracks">
      <li class="list-item">
        <div class="title">{{ t.title }}</div>
        <div class="info"> durée : <span>{{t.duration | secondToTime}}</span></div>
        <div class="info"> artiste : <span>{{t.artist}}</span></div>
      </li>
    </ng-container>
  </cdk-virtual-scroll-viewport>
</ul>

