body {
  color: rgba(255, 255, 255, 0.56);
  overflow: hidden;
}

ul {
  max-width: 500px;
  list-style: none;
  margin: 10px auto;
  padding: 10px;
}

.title{
  color: #3f00af;
  font-family: Roboto,"Helvetica Neue",sans-serif;
}

.police{
  font-family: Roboto,"Helvetica Neue",sans-serif;
}

.info{
  font-size:15px;
  font-weight: 300;
  font-family: Roboto,"Helvetica Neue",sans-serif;
}

.list li {
  padding: 10px;
  background: rgba(221, 217, 222, 0.22);
  border-radius: 5px;
  margin-bottom: 5px;
  text-align: center;
  font-weight: 600;
}

.center {
  text-align: center;
}
