<div *ngIf="playlist&&tracks.length">
  <div>
    <h2>
      <button mat-raised-button routerLink="/playlist" color="primary">Retourner à la liste des Playlists</button>
    </h2>
  </div>
  <div>
    <h2 class="police">
      <span>Détails de la playlist <span class="title">{{playlist?.title}}</span></span>
    </h2>
  </div>

  <app-playlist-header *ngIf="playlist" [playlist]="playlist"></app-playlist-header><br/><br/>
  <app-playlist-tracks *ngIf="tracks.length" [tracks]="tracks"></app-playlist-tracks><br/><br/>

  <div class="mail">
    <button mat-raised-button color="accent" (click)="emailJuriaan('ok')">Nice project, we want you on our team !</button>
    <button mat-raised-button color="accent" (click)="emailJuriaan('ko')">Sorry, but not good enough...</button>
  </div>

</div>
