<div>
  <div>
    <h2>
      <span class="police">Les playlists de  <b class="title">{{dataSource.data[0]?.creator}}</b></span>
    </h2>
  </div>

  <div>
    <div>
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrer">
      </mat-form-field>
    </div>
  </div>

  <br/>

  <div>
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

      <!-- picture_medium Column -->
      <ng-container matColumnDef="picture_medium">
        <th mat-header-cell *matHeaderCellDef> Cover </th>
        <td class="playlist" mat-cell *matCellDef="let element" (click)="onClickPlaylist(element.id)">
          <img src="{{element.picture_medium}}"> </td>
      </ng-container>

      <!-- id Column -->
      <ng-container matColumnDef="duration">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Durée </th>
        <td class="playlist" mat-cell *matCellDef="let element" (click)="onClickPlaylist(element.id)">
          {{element.duration | secondToTime}} </td>
      </ng-container>

      <!-- title Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Titre </th>
        <td class="playlist" mat-cell *matCellDef="let element" (click)="onClickPlaylist(element.id)">
          {{element.title}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>

