<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title class="police">
        <div>
          <p>
            Informations de la playlist <b class="title">{{playlist.title}}</b>
          </p>
        </div>
      </mat-panel-title>
    </mat-expansion-panel-header>


    <div class="header">
      <div>
        <img src="{{playlist.picture_medium}}">
      </div>

      <div>
        <p>
          Titre : <b class="title">{{playlist.title}}</b><br/>
        </p>
        <p>
          Auteur : <b class="title">{{playlist.creator}} </b><br/>
        </p>
        <p>
          Durée : <b class="title">{{playlist.duration | secondToTime}} </b><br/>
        </p>
      </div>

    </div>


  </mat-expansion-panel>
</mat-accordion>




